@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 520px;
  height: 600px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
